<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pay with Razorpay</title>
</head>
<body>
<H1>Loading Razorpay...</H1>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "{{ key }}",
    "amount": "{{ payment.amount_due }}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "{{ payment.currency }}",
    "name": "Acme Corp", // company name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo", // You can give your logo url
    "order_id": "{{ payment.id }}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "http://localhost:8000/payment", // Your callback URL
    "prefill": {
        "name": "Gaurav Kumar", // pass customer name
        "email": "gaurav.kumar@example.com",  // customer email
        "contact": "7983505444" //customer phone no.
    },
    "notes": {
        "address": "Razorpay Corporate Office" //customer address
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.open();
</script>
</body>
</html>